@charset "UTF-8";

/**********footer*******/
footer {
    width: 100%;
    background-color: #3a3535;
    padding: 40px 0;
    font-size: 14px;
    font-size: 0.875rem;
    color: #999;
}

footer::after {
    content: "";
    display: block;
    clear: both;
}

footer a {
    font-size: 14px;
    font-size: 0.875rem;
    color: #999;
}

footer .footer-left {
    float: left;
}

footer .footer-left .logo {
    float: left;
    margin: 0 60px 0 0;
}

.footer-left .logo img {
    width: 100%;
    height: 100px;
    display: block;
}

.footer-left .menu {
    float: left;
    /*outline: 2px solid blue;*/
}

.footer-left .menu ul {
    margin: 10px 0;
}

.menu ul li {
    float: left;
}

.menu ul li ~ li {
    margin: 0 0 0 80px;
}

.menu ul li a:hover {
    font-weight: bold;
}

footer .footer-left .contact {
    margin: 10px 0;
}

.footer-left .contact address {
    display: inline-block;
}

.footer-left .contact span {
    margin: 0 0 0 22px;
    text-transform: uppercase;
}

footer .footer-left .menu .copyright {
    margin: 10px 0;
    text-transform: uppercase;
}

footer .site {
    float: right;
}

footer .site select {
    width: 100%;
    height: 30px;
    background-color: #3a3535;
    color: #f4f4f4;
    text-transform: uppercase;
}

/* footer .site select option {} */